.register_box{
    width:100%;
     
    background: url('../../../public/dragon3.jpg');
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.register_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* box-shadow: rgb(0 0 0/8%) 0px 3px 12px; */
    border-radius: 1rem;
    width: 30%;
    padding: 2rem;
    background: transparent;
    border:1px solid white;
    /* background-color: white; */
    /* margin-top: 3rem; */
}

.register_container form{
    
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width:100%;
    background: transparent;
}
.register_container form input{
    padding: 0.8rem;
    margin-top: 0.2rem;
    font-size: 16px;
    border-radius: 1rem;
    border:1px solid;
    background: transparent;
    border:1px solid white;
    color: white;
    
}
.register_container form button{
    background-color: black;
     color: white;
    padding: 0.8rem;
    margin-top: 10px;
    border:none;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    border-radius: 1rem;
}

.main-head{
    text-align: center;
    padding: 0.5rem;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
 
}
.register_container form span{
    font-size: 18px;
    /* margin-top: 10px; */
    padding:0.2rem;
    background: transparent;
    color: white;
}
.btn:hover{
    
    background-color:#363735ec ;
    color:white;
}

 
.success_mesg{
text-align: center;
font-size: 18px;
}